html,
body {
  height: 100%;
}
body {
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
    sans-serif;
  background: #2b3137;
  margin: 0;
}

.container {
  background: #2b3137;
  margin: 0 auto;
}

.nav {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-bottom: #97999d 2px solid;
}

@media only screen and (max-width: 1000px) {
  .nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: #97999d 2px solid;
  }
}

.nav li {
  margin-right: 30px;
}

.nav li a:hover {
  color: #35ba52;
  border-bottom: 2px solid #35ba52;
  transition: 0.3s;
}

@media only screen and (min-width: 1000px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 11fr;
    text-align: right;
  }
}

@media only screen and (max-width: 767px) {
  .nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    padding: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .nav li {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .nav li a {
    font-size: 23px;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.languages {
  display: flex;
  justify-content: center;
  color: white;
}
@media only screen and (max-width: 767px) {
  .languages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 0px 40px;
  }
}
@media only screen and (max-width: 767px) {
  .languages li {
    margin: 12px;
  }
}

.languages li {
  margin: 20px 15px;
  font-weight: bold;
  cursor: pointer;
  display: block;
}

.popular-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-around;
}
@media only screen and (max-width: 767px) {
  .popular-list {
    grid-template-columns: 1fr;
    margin: 0px;
  }
}

h2 {
  color: #ffffff;
}
.popular-rank {
  font-size: 20px;
  margin: 10px;
  color: white;
}
@media only screen and (max-width: 767px) {
  .popular-item {
    margin: 0 0 45px 0px !important;
  }
}

.popular-item {
  margin: 20px;
  margin-bottom: 45px;
  text-align: center;
}

.popular-item:hover {
  background: grey;
  transition: background-color 0.7s ease;
}
.nameSpan {
  font-weight: bold;
  text-transform: capitalize;
  border-bottom: solid 1px white;
  pointer-events: none;
  cursor: default;
  font-size: 18px;
}
.linkSpan {
  font-style: italic;
  cursor: pointer;
}

.result-items {
  margin-bottom: 15px;
  width: 250px;
  padding-left: 90px;
}
.result-items li {
  color: white;
}
.result-items li a {
  font-size: 16px;
}

.space-list-items {
  margin-bottom: 7px;
}
.space-list-items li {
  color: white;
}
.space-list-items li a {
  font-size: 16px;
}
@media only screen and (max-width: 767px) {
  .space-list-items {
    margin: 0px 20px;
    width: auto;
    padding: 0px;
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  .space-list-items li {
    text-align: center;
  }
}

.avatar {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.row {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 767px) {
  .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 30px;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .column {
    width: 100%;
  }
}

.column input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 80%;
}
@media only screen and (max-width: 767px) {
  .column input {
    width: 60%;
  }
}
@media only screen and (max-width: 767px) {
  .column input::placeholder {
    font-size: 12px;
  }
}

.column label {
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: 200;
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.active {
  color: #35ba52;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url('./components/images/circuit-inactive copy.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: -webkit-fill-available;
}
@media only screen and (max-width: 767px) {
  .home-container {
    padding-top: 10px;
    background-image: url('./components/images/circuit-inactive copy.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: -webkit-fill-available;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

h1 {
  color: white;
}

h3 {
  color: white;
  text-align: center;
}

.home-container h1 {
  color: white;
  font-weight: 200;
  font-size: 60px;
  width: 55%;
  text-align: center;
  padding: 0;
  margin: 10px 0 30px 0;
}

@media only screen and (max-width: 767px) {
  .home-container h1 {
    font-size: 40px;
    width: 85%;
    font-weight: 300;
    margin-bottom: 0px;
  }
}

.home-container h3 {
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  width: 60%;
  padding: 0px 0px 20px 0px;
  margin: 15px;
}
@media only screen and (max-width: 767px) {
  .home-container h3 {
    font-size: 20px;
    width: 90%;
  }
}
.button {
  color: #fff;
  background: #35ba52;
  border: none;
  font-size: 18px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}
@media only screen and (max-width: 767px) {
  .button {
    font-size: 14px;
    width: 70px;
  }
}

.battleAgain {
  color: #fff;
  background: #35ba52;
  border: none;
  font-size: 18px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 35px auto;
}

.homeButton {
  color: #fff;
  background: #35ba52;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  width: 150px;
  text-align: center;
  display: block;
  padding: 10px 0;
  margin: 10px 0 20px 0;
}

.button:hover:enabled {
  background: linear-gradient(#2fa047, #35ba52);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}

.reset {
  border: none;
  background: transparent;
  color: #35ba52;
  display: block;
  font-size: 15px;
  text-align: center;
  text-decoration: underline #35ba52;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
}

.reset:hover {
  cursor: pointer;
}

.homeCredit {
  font-size: 14px;
  color: white;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
    sans-serif;
  font-style: italic;
  margin: 0;
  align-self: center;
}
@media only screen and (max-width: 1000px) {
  .homeCredit {
    display: none;
  }
}

.homeHere {
  font-size: 14px;
  color: white;
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
    sans-serif;
  font-style: italic;
}

@media only screen and (max-width: 1000px) {
  .homeHere {
    display: none;
  }
}

.homeHere:hover {
  color: #35ba52;
}
