body {
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
    sans-serif;
  background: #2b3137;
  margin: 0;
}

.container {
  /* max-width: 1200px; */
  background: #2b3137;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.languages {
  display: flex;
  justify-content: center;
  color: white;
}

.languages li {
  margin: 20px 15px;
  font-weight: bold;
  cursor: pointer;
  display: block;
}

.popular-list {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-around;
}
h2 {
  color: #fff;
}
.popular-rank {
  font-size: 20px;
  margin: 10px;
  color: white;
  /* color: #35ba52; */
}

.popular-item {
  margin: 20px;
  margin-bottom: 45px;
  text-align: center;
}

.popular-item:hover {
  background: grey;
  transition: background-color 0.7s ease;
}
.nameSpan {
  font-weight: bold;
  text-transform: capitalize;
  border-bottom: solid 1px white;
  pointer-events: none;
  cursor: default;
  font-size: 18px;
}
.linkSpan {
  font-style: italic;
  cursor: pointer;
}
.space-list-items {
  margin-bottom: 7px;
}
.space-list-items li {
  color: white;
}
.space-list-items li a {
  font-size: 16px;
}
.avatar {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.nav {
  display: flex;
  background-color: #25292e;
  padding: 40px 30px 40px 30px;
}

.nav li {
  margin-right: 30px;
}

.nav li a:hover {
  color: #35ba52;
  border-bottom: 2px solid #35ba52;
  transition: 0.3s;
}

.row {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 30px;
  align-items: center;
}

.column input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 80%;
}

.column label {
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: 200;
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.active {
  color: #35ba52;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c3137;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

.home-container h1 {
  color: white;
  font-weight: 200;
  font-size: 60px;
  width: 55%;
  text-align: center;
  padding: 0;
  margin: 10px 0 30px 0;
}
.home-container h3 {
  color: #97999d;
  font-weight: 300;
  font-size: 25px;
  width: 50%;
  padding: 0;
  margin: 15px;
  text-align: center;
}

.button {
  color: #fff;
  background: #35ba52;
  border: none;
  font-size: 18px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}
.homeButton {
  color: #fff;
  background: #35ba52;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  width: 150px;
  text-align: center;
  display: block;
  padding: 10px 0;
  margin: 10px 0 20px 0;
}

.button:hover:enabled {
  background: linear-gradient(#2fa047, #35ba52);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}

.reset {
  border: none;
  background: transparent;
  color: #35ba52;
  display: block;

  font-size: 15px;
  text-align: center;
  /* border: 3px solid #35ba52; */
  text-decoration: underline #35ba52;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
}

.reset:hover {
  cursor: pointer;
}
